<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />	
</head>
<body>
<div class="container">
    <div class="row bg-info">
      <div class="col-sm-6">
      <h2>EDIT UNIT</h2>
      <p>
          <a href="/units" th:href="@{/units}"><img th:src="@{../css/circled-left-2.png}" alt="back" height="20px" width="20px"/></a>
      </p>
      <form action="#" th:action="@{/unitEdit}" th:object="${umoviles}" method="post">  
            <input type="hidden" th:field="*{unitid}" class="form-control"/> 
            <div style="clear: both; display: block; height: 10px;"></div>
            <input type="number" step="1" pattern="\d+" th:field="*{locationid}" class="form-control" placeholder="Location" /> 
            <div style="clear: both; display: block; height: 10px;"></div>
            <input type="text" th:field="*{nameUnit}" class="form-control" placeholder="Unit place name" />
            <div style="clear: both; display: block; height: 10px;"></div>        
            <input type="text" th:field="*{status}" class="form-control" placeholder="current status" />
            <div>              
               <table class="table table-striped">
                <thead>
                    <tr>
                        <th th:text="#{units.route.head.num}">id</th>
                        <th th:text="#{units.route.head.location}">Location</th>
                        <th th:text="#{units.route.head.secuence}">Sec</th>
                        <th>
                            <button type="submit" name="addRoute" class="btn btn-primary btn-xs"> Add Spot </button>
                        </th>
                    </tr>
               </thead>
               <tbody>
                    <tr th:each="spot,spotStat : *{spots}">
                        <td th:text="${spotStat.count}">1</td>
                        <td> 
                            <input type="text" th:field="*{spots[__${spotStat.index}__].locationid}"  />
                        </td>
                        <td> 
                            <input type="text" th:field="*{spots[__${spotStat.index}__].secuence}"  />
                        </td>
                        <td>
                            <button type="submit" name="removeRoute" th:value="${spotStat.index}" class="btn btn-danger btn-xs"><img th:src="@{../css/trash.png}" id="remove" height="20px" width="20px"/></button>
                        </td>
                    </tr>
               </tbody>
              </table>
            </div>         
            <button type="submit" name="save" class="btn btn-default"> Update </button>                         
      </form> 
      </div>      
    </div>    
</div>
</body>
</html>