<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Units Map</title>
        <link type="text/css" rel="stylesheet" th:href="@{../css/mystyle.css}" />	
        <script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyDrcB0UHD76EIItQksUCzP10DY3OZGLHaE}"></script>
</head>
<body>
<div id="route">
    <h3><label>Call Address: <span th:text="${model.position.placeName}">Name..</span></label></h3>
    <label>Lat: <span  th:text="${model.position.lat}"></span></label>
    <label>Lng: <span th:text="${model.position.lng}"></span></label>
</div>
<div id="map" style="height: 80%; width: 100%;"></div>
<script th:inline="javascript">
/*<![CDATA[*/
    var locations = [[${model.positions}]]
/*]]>*/
function initialize() {
    console.log(locations);
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 15,
		center: new google.maps.LatLng(-11.95, -77.07),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});
	var infowindow = new google.maps.InfoWindow({});
	var marker, i;
	for (i = 0; i < locations.length; i++) {
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map
		});

		google.maps.event.addListener(marker, 'click', (function (marker, i) {
			return function () {
				infowindow.setContent(locations[i][0]);
				infowindow.open(map, marker);
			}
		})(marker, i));
	}       
}
google.maps.event.addDomListener(window, "load", initialize);
</script>
</body>
</html>
