<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Units List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>UNIDADES</h1>
	</div>    
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Location</th>
		    <th>Name</th>
		    <th>Status</th>
		</tr>  
    	<tr th:each = "unit : ${units}">
    		<td th:text="${unit.unitid}"></td>
    		<td th:text="${unit.nameUnit}"></td>
    		<td th:text="${unit.status}"></td>
    		<td>
    			<a th:href="@{/route/{id}(id=${unit.unitid})}" class="btn btn-primary btn-xs">Show Route</a>
    			<a th:href="@{/edit/{id}(id=${unit.unitid})}" class="btn btn-primary btn-xs">Edit</a>
    			<a th:href="@{/delete/{id}(id=${unit.unitid})}" class="btn btn-danger btn-xs">Delete</a>
    		</td>
    	</tr>
    </table>
    <a href="/add" class="btn btn-primary">Add Unidad</a>
	</div>    
</div>
</body>
</html>